*.so
*.a
*.o
*.exe
a.out

zeta

bernoulli

carlson
carlson1
carlson2
carlson3
carlson4
carlson_std

check_airy_ai
check_airy_bi
check_assoc_laguerre
check_assoc_legendre
check_beta
check_bincoef
check_comp_ellint_1
check_comp_ellint_2
check_comp_ellint_3
check_comp_ellint_d
check_conf_hyperg
check_conf_hyperg_lim
check_coshint
check_cosint
check_cyl_bessel_i
check_cyl_bessel_j
check_cyl_bessel_k
check_cyl_hankel_1
check_cyl_hankel_2
check_cyl_neumann
check_dawson
check_dilog
check_ellint_rc
check_ellint_rd
check_ellint_rf
check_ellint_rg
check_ellint_rj
check_err.txt
check_ellint_1
check_ellint_2
check_ellint_3
check_ellint_d
check_expint
check_expint_e1
check_factorial
check_fresnel_c
check_fresnel_s
check_gamma_l
check_gamma_u
check_gegenbauer
check_hermite
check_heuman_lambda
check_hurwitz_zeta
check_hyperg
check_ibeta
check_jacobi
check_jacobi_cn
check_jacobi_dn
check_jacobi_sn
check_jacobi_zeta
check_laguerre
check_lbincoef
check_ldouble_factorial
check_legendre
check_legendre_q
check_lfactorial
check_lpochhammer_l
check_lpochhammer_u
check_pochhammer_l
check_pochhammer_u
check_psi
check_radpoly
check_riemann_zeta
check_sinc
check_sinc_pi
check_sinhint
check_sinint
check_sph_bessel
check_sph_bessel_i
check_sph_bessel_k
check_sph_hankel_1
check_sph_hankel_2
check_sph_harmonic
check_sph_legendre
check_sph_neumann
check_zernike
complex_ellint_rc
complex_ellint_rd
complex_ellint_rf
complex_ellint_rg
complex_ellint_rj
pr56216_cyl_hankel_1
pr56216_cyl_hankel_2
pr56216_cyl_bessel_i

complex_literal_arith
diff_special_function
diff_local_special_function
testcase
test_airy
test_bessel
test_bessel_asymp
test_beta_inc
test_chebyshev
test_cmath
test_comp_ellint_1
test_complex_gamma
test_complex128
test_csint
test_dawson
test_dilog
test_factorial
test_float128
test_fresnel
test_gamma
test_hermite
test_hankel
test_hurwitz_zeta
test_hurwitz_zeta_new
test_inv_erf
test_jacobi
test_legendre
test_lerch_transcendent
test_limits
test_little_airy
test_local_special_function
test_math_h
test_nric_bessel
test_numeric_limits
test_polylog
test_polynomial
test_pow_funs
test_pow_bits
test_promote_num
test_psi
test_rational
test_special_function

hankel_transition
hankel_toy
hankel_toy128
hankel_toy_new
airy_toy
airy_toy_old

zeta_glob_deathmatch

test_local_special_function.txt
diff_local_special_function.txt

err.txt
check_err.txt

cephes/ldouble/mtstl
cephes/qfloat/qcalc
cephes/qfloat/qccalc
cephes/qfloat/qcwhitebx
cephes/qfloat/qmtst
cephes/qfloat/qparanoi
cephes/single/mtstf

gslextras/Jacobi/jacobi-0.9.2/Makefile
gslextras/Jacobi/jacobi-0.9.2/config.log
gslextras/Jacobi/jacobi-0.9.2/config.status
gslextras/Jacobi/jacobi-0.9.2/src/.libs/libjacobi.so.0.0.0
gslextras/Jacobi/jacobi-0.9.2/src/Makefile
gslextras/Jacobi/jacobi-0.9.2/test/Makefile
