[submodule "cxx_polynomial"]
	path = cxx_polynomial
	url = https://github.com/emsr/polynomial.git
[submodule "cxx_quadrature"]
	path = cxx_integration
	url = https://github.com/emsr/quadrature.git
[submodule "cxx_math_const"]
	path = cxx_math_constants
	url = https://github.com/emsr/cxx_math_const.git
[submodule "zeta"]
	path = 3rdparty/zeta
	url = https://github.com/emsr/zeta.git
[submodule "cephes"]
	path = 3rdparty/cephes
	url = https://github.com/emsr/maths_cephes.git
[submodule "burkhardt"]
	path = 3rdparty/burkhardt
	url = https://github.com/emsr/maths_burkhardt.git
[submodule "LambertW"]
	path = 3rdparty/LambertW
	url = https://github.com/emsr/LambertW.git
[submodule "3rdparty/mpreal"]
	path = 3rdparty/mpreal
	url = https://github.com/advanpix/mpreal.git
