*.so
*.a
*.o
*.exe
a.out
bernoulli
carlson
carlson1
carlson2
carlson3
carlson4
check_airy
check_assoc_laguerre
check_assoc_legendre
check_beta
check_comp_ellint_1
check_comp_ellint_2
check_comp_ellint_3
check_conf_hyperg
check_cyl_bessel_i
check_cyl_bessel_j
check_cyl_bessel_k
check_cyl_neumann
check_ellint_1
check_ellint_2
check_ellint_3
check_expint
check_hyperg
check_laguerre
check_legendre
check_riemann_zeta
check_sph_bessel
check_sph_legendre
check_sph_neumann
complex_literal_arith
diff_special_function
diff_local_special_function
dilog
test_bessel
test_bessel_asymp
testcase
testcase_new
test_cmath
test_complex_gamma
test_complex128
test_csint
test_fresnel
test_hermite
test_legendre
test_limits
test_nric_bessel
test_special_function
test_local_special_function
test_polynomial
test_numeric_limits
test_rational
test_beta_inc
test_psi
test_pow_funs
test_pow_bits
test_lerch_transcendent
test_airy
test_little_airy
test_promote_num
test_hurwitz_zeta
test_hurwitz_zeta_new
test_float128
test_dawson
test_chebyshev
test_factorial
hankel_toy
hankel_toy128
hankel_toy_new
airy_toy
airy_toy_old
err.txt
test_local_special_function.txt
diff_local_special_function.txt
zeta_glob_deathmatch

cephes/ldouble/mtstl
cephes/qfloat/qcalc
cephes/qfloat/qccalc
cephes/qfloat/qcwhitebx
cephes/qfloat/qmtst
cephes/qfloat/qparanoi
cephes/single/mtstf
