
CMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
CMakeFiles/
CTestTestfile.cmake
Makefile
Testing/
bin/
lib/
cmake_install.cmake

# Build files...
*.so
*.a
*.o
*.exe
*.dll
a.out
*.ppu

# Tarballs...
*.gz
*.bz2

# Images...
*.png
*.jpg

wrappers_debug
wrappers_release

# Too large output
test_legendre.txt
test_beta.txt
test_cyl_hankel.txt
test_sph_hankel.txt
test_owens_t.txt
