sudo: required
dist: trusty
language: cpp
compiler: gcc

os: linux
dist: bionic

before_install:
  - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
  - sudo apt-get update -qq

install:
  - sudo apt-get install -qq gfortran
  - sudo apt-get install -qq libgsl-dev
  - sudo apt-get install -qq libboost-all-dev

install:
  - sudo apt-get install -qq gcc-8
  - sudo apt-get install -qq gfortran-8

script:
  - cmake .
  - make
  - make -k test

after_success:
  - bash <(curl -s https://codecov.io/bash) -t 1af5a35c-cce4-4611-878a-7f0e78841353
