
debug_odd_legendre
test_assoc_laguerre
test_assoc_legendre
test_assoc_legendre_q
test_charlier
test_chebyshev
test_chebyshev_trig
test_chebyshev_trig_pi
test_complex
test_continuous_dual_hahn
test_continuous_hahn
test_dual_hahn
test_gegenbauer
test_gegenbauer_neg_parm
test_gegenbauer_neg_roots
test_hahn
test_hermite
test_jacobi
test_jacobi_neg_parm
test_jacobi_neg_roots
test_krawtchouk
test_laguerre
test_legendre
test_legendre_q
test_lobatto
test_meixner
test_meixner_pollaczek
test_racah
test_wilson
