
# These are not targets!
build_atan_table
build_bernoulli_2n_table
build_cordic
build_etam1_table
build_gamma_lanczos
build_gamma_recip
build_gamma_spouge
build_inv_erf_coefs
build_log_table
build_nfact_zetanp1
build_sincos_tables
build_sqrt_table
build_zetahalfm1_table
build_zetam1_table
build_zeta_trig_tables
build_zeta_deriv_table

# Maybe just ignore bin/
bin/airy_toy
bin/diff_special_function
bin/hankel_toy
bin/hankel_toy128
bin/hankel_toy_new
bin/mpfrcalc
bin/run_coulfg
bin/RUN_COULFG
bin/test_airy_roots
bin/test_anger_weber
bin/test_appell_f1
bin/test_arith_geom_mean
bin/test_bernoulli
bin/test_bessel
bin/test_bessel_asymp
bin/test_bessel_iter
bin/test_beta
bin/test_beta_inc
bin/test_binet
bin/test_binet_float
bin/test_bose_einstein
bin/test_charlier
bin/test_chebyshev
bin/test_chebyshev_trig
bin/test_chebyshev_trig_pi
bin/test_clausen
bin/test_cmath
bin/test_comp_ellint_1
bin/test_complex128
bin/test_complex_gamma
bin/test_conf_hyperg
bin/test_conf_hyperg_limit
bin/test_const
bin/test_continued_fraction
bin/test_continuous_dual_hahn
bin/test_continuous_hahn
bin/test_cordic
bin/test_coulomb
bin/test_csint
bin/test_cyl_hankel
bin/test_dawson
bin/test_debye
bin/test_digamma
bin/test_dilog
bin/test_dirichlet_eta
bin/test_dual_hahn
bin/test_erfc
bin/test_experfc
bin/test_expint
bin/test_factorial
bin/test_faddeeva
bin/test_falling_factorial
bin/test_fermi_dirac
bin/test_fibonacci
bin/test_float128
bin/test_fresnel
bin/test_gamma
bin/test_gamma_ratio
bin/test_gamma_reciprocal
bin/test_gegenbauer
bin/test_gudermannian
bin/test_hahn
bin/test_hankel
bin/test_hankel_real_arg
bin/test_hermite
bin/test_heuman_lambda
bin/test_hurwitz_zeta
bin/test_hurwitz_zeta_new
bin/test_hydrogen
bin/test_hyperg
bin/test_hypot
bin/test_inv_erf
bin/test_inv_gamma
bin/test_inv_ibeta
bin/test_inv_lgamma
bin/test_jacobi
bin/test_jacobi_ellint
bin/test_jacobi_inv
bin/test_jacobi_theta
bin/test_jacobi_zeta
bin/test_kelvin
bin/test_krawtchouk
bin/test_laguerre
bin/test_lambert_w
bin/test_large_order_bessel
bin/test_legendre
bin/test_legendre_ellint
bin/test_lentz_continued_fraction
bin/test_lerch
bin/test_limits
bin/test_little_airy
bin/test_lobatto
bin/test_logsumexp
bin/test_lommel
bin/test_marcum_q
bin/test_math_h
bin/test_maxint
bin/test_meixner
bin/test_meixner_pollaczek
bin/test_mittag_leffler
bin/test_mod2pi
bin/test_mpreal
bin/test_notsospecfun
bin/test_nric_bessel
bin/test_numeric_limits
bin/test_owens_t
bin/test_parab_cyl
bin/test_polygamma
bin/test_polylog
bin/test_power_mean
bin/test_power_norm
bin/test_pow_limits
bin/test_racah
bin/test_rational
bin/test_recursion
bin/test_reperiodized_hyper
bin/test_reperiodized_trig
bin/test_riemann_zeta
bin/test_rising_factorial
bin/test_root_finding
bin/test_root_search
bin/test_sincos
bin/test_sinus_cardinal
bin/test_special_function
bin/test_sph_bessel
bin/test_sph_hankel
bin/test_steed_continued_fraction
bin/test_struve
bin/test_struve_old
bin/test_summation
bin/test_theta
bin/test_tr1_cmath
bin/test_tricomi_u
bin/test_trig
bin/test_weierstrass_ellint
bin/test_wilson
bin/test_wright_omega
bin/test_zeta_trig
